/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #1f2228;
    color: #fff;
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    background: transparent;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    margin: auto;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #1f2228;
}

/* Hero Image */
.hero {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    border: 2px solid #1f2228;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #000;
    opacity: 0.1;
}

.hero h1 {
    width: 100%;
    position: absolute;
    bottom: 2vw;
    font-size: 10vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.15vw 0.1vw 0px rgba(31, 33, 7, 0.69);
    text-align: center;
    z-index: 1;
}

/* 2x2 Grid */
.brick {
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    border: 2px solid #1f2228;
}

.brick::before { /* Overlay and hover effect */
    content: '';
    width: 110%; /* extra 10% for weird retina bug, it'll get chopped by overflow */
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #000;
    opacity: 0.5;
    transition: all 300ms ease-in-out;
}

.brick:hover.brick::before {
    opacity: 0.1;
}

.brick h2 {
    width: 100%;
    position: absolute;
    top: calc(50% - 3vw);
    font-size: 6vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.15vw 0.1vw 0px rgba(31, 33, 7, 0.69);
    text-align: center;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.brick:hover h2 {
    transform: scale(1.1);
}


/* Footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 16px;
    background: skyblue;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0) 66%);
    border: 2px solid #1f2228;
}

.footer .logo {
    max-width: 50vw;
}

.footer .tagline {
    font-size: 3vw;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.15vw 0.1vw 0px rgba(31, 33, 7, 0.69);
    margin-top: -2vw;
}
